* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Merriweather', serif;
font-family: 'Titillium Web', sans-serif;
}

.info {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.logo {
    width: 60%;
    padding-left: 130px;
}

.logo img {
    width: 200px;
}

.info i {
    font-size: 30px;
    color: #45AD96;
    opacity: 0.5;
}

.time,
.contact {
    padding-right: 30px;
    padding-left: 10px;
    font-size: smaller;
}

span {
    color: gray;
}

.main-nav {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: center;
    justify-content: space-between;
    margin: 0px 300px;
    padding: 25px 0px;
    opacity: 0.65;
}

.main-nav li a {
    color: black;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 15px;
}

.main-nav li a:hover {
    color: red;
    /* text-decoration: underline; */
}

.book span {
    padding: 10px;
    border: #A2D6CB solid 2px;
    color: #A2D6CB;
    border-radius: 50px;
    /* background: #A2D6CB;; */
}

.book span:hover {
    color: black;
    border: black solid 2px;
    color: black;
    opacity: 0.5;
}

hr {
    opacity: 0.2;
}

.front {
    background-image: linear-gradient(#45ad96a7, #45ad96a7), url(../Images/pexels-anna-shvets-3845653.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.intro {
    text-align: center;
    color: white;
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.row {
    margin-bottom: 80px;
}

#services {
    text-align: center;
}

#services h2 {
    padding: 40px 0px;
    font-size: 50px;
    color: #A2D6CB;
    letter-spacing: 2px;
}

#services h3 {
    padding: 15px 0px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}

#services p {
    font-size: 14px;
    line-height: 25px;
    border-right: #A2D6CB solid 2px;
    border-left: #A2D6CB solid 2px;
    border-radius: 15px;
}

#services a {
    text-decoration: none;
    color: red;
}

#services i {
    font-size: 30px;
    color: #45AD96;
    padding: 6px;
    opacity: 0.5;
}

#contact-us {
    padding: 30px 0px;
    background: #E3B837;
    height: 250px;
    text-align: center;
    position: relative;
    font-size: 20px;
    color: white;
}

.inquiries {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#contact-us a {
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: 5px white solid;
}

#contact-us a:hover {
    padding: 15px;
    color: #E3B837;
    background: white;
}

#team {
    text-align: center;
}


#team h2 {
    padding: 40px 0px;
    font-size: 50px;
    color: #A2D6CB;
    letter-spacing: 2px;
}

#team h3 {
    padding: 15px 0px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}

#team p {
    font-size: 14px;
    line-height: 25px;
}

#team a {
    text-decoration: none;
    color: red;
}

#team i {
    font-size: 40px;
    font-weight: bold;
    color: #45AD96;
    opacity: 0.5;
}

footer {
    background: black;
    text-align: center;
    color: white;
    padding: 25px 0px;
}

footer span {
    color: red;
}

.last-nav {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: center;
    color: white;
    padding-bottom: 15px;
}

.last-nav li {
    margin: 0px 10px;
}

.last-nav li a {
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 40px;
}

.last-nav li a:hover {
    color: red;
    text-decoration: underline;
}